<h1>Create a New Post</h1>

<%= form_for @post do |f| %>
    <p><%= f.label :title %>
    <%= f.text_field :title %></p>
    <p><%= f.label :content %>
    <%= f.text_area :content %></p>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
    <%= f.fields_for :categories, @post.categories.build do |categories_fields| %>
        <%= categories_fields.text_field :name, list: "categories_autocomplete" %>
        <datalist id="categories_autocomplete">
        <% Category.all.each do |category| %>
            <option value="<%= category.name %>">
        <% end %>
        </datalist>
    <% end %>
    <%= f.submit %>
<% end %>